html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vazirmatn, sans-serif";
  background-color: whitesmoke;
}

input {
  text-align: right;
  width: 100%;
  height: 100%;
}

textarea {
  width: 100%;
  height: 12rem;
  text-align: right;
}

/* .Select div:first-child {
  padding: none;
} */

@font-face {
  font-family: Vazirmatn;
  src: url('../public/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
